<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" backupGlobals="false"
         bootstrap="vendor/autoload.php" colors="true" processIsolation="false" stopOnFailure="false"
         displayDetailsOnPhpunitDeprecations="true">
    <coverage>
        <report>
            <html outputDirectory="tests/_Runtime/Coverage"/>
        </report>
    </coverage>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="Adldap2 Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="SYMFONY_PHPUNIT_REMOVE_RETURN_TYPEHINT" value="1"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="/.*/"/>
    </php>
</phpunit>
